/* line 4, ../../build/sass/contact.sass */
.contact {
  position: fixed;
  right: 0;
  top: 0;
  width: 18em;
  height: 100%;
  background: black;
  color: white;
  padding: 1em;
  -webkit-transition-property: all;
  -moz-transition-property: all;
  -o-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: 0.5s;
  -moz-transition-duration: 0.5s;
  -o-transition-duration: 0.5s;
  transition-duration: 0.5s;
}

/* line 17, ../../build/sass/contact.sass */
#face {
  position: absolute;
  bottom: 0;
  left: -200px;
  width: 200px;
  height: 200px;
  background: -webkit-canvas(bg);
  -webkit-transition-property: all;
  -moz-transition-property: all;
  -o-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: 2s;
  -moz-transition-duration: 2s;
  -o-transition-duration: 2s;
  transition-duration: 2s;
  opacity: 1;
}

/* line 28, ../../build/sass/contact.sass */
.is-hidden {
  background: lightgrey;
  display: none;
}

/* line 32, ../../build/sass/contact.sass */
.is-closed {
  right: -20em !important;
}

/* line 35, ../../build/sass/contact.sass */
.open-contact {
  position: absolute;
  top: calc(50% - 60px);
  left: -8em;
}

/* line 40, ../../build/sass/contact.sass */
.head {
  font-size: 2.6em;
  font-family: "Times New Roman";
}

/* line 44, ../../build/sass/contact.sass */
input::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
  color: white;
}

/* line 47, ../../build/sass/contact.sass */
input[type="text"] {
  width: 16em;
  padding: 5px;
  margin-bottom: 5px;
  outline: none;
  background: none;
  color: white;
  border: none;
  border-bottom: 1px solid white;
}
/* line 56, ../../build/sass/contact.sass */
input[type="text"]:focus {
  color: white;
}

/* line 59, ../../build/sass/contact.sass */
textarea {
  background: url(../imgs/textareabg.png);
  border: none;
  resize: none;
  color: white;
  width: calc(16em + 5px);
  height: 15em;
  line-height: 31.5px;
  font: 500 16px;
}
/* line 68, ../../build/sass/contact.sass */
textarea:focus {
  outline: 0px none transparent;
  -moz-appearance: none;
}

/* line 72, ../../build/sass/contact.sass */
input[type="submit"] {
  display: block;
  padding: 0.5em;
  background: lightblue;
  border: none;
}
