@font-face {
  font-family: "Dekar Light";
  src: url(loose_fonts/Dekar_Light.otf);
}

/* line 8, ../../build/sass/custom.sass */
.menu span, .masonry-content p {
  font-family: "Dekar Light";
  font-weight: 800;
  letter-spacing: 3px;
}

/* line 14, ../../build/sass/custom.sass */
html, body, .horiz-wrapper {
  position: relative;
  height: 100%;
  overflow-y: hidden;
  -webkit-overflow-scrolling: touch;
}

/* line 20, ../../build/sass/custom.sass */
body {
  margin: 0;
  padding: 0;
}

/* line 24, ../../build/sass/custom.sass */
.is-blurred-out {
  -webkit-filter: blur(10px) grayscale(100%);
}

@font-face {
  font-family: "Alt Retro Bold";
  src: url(loose_fonts/Alt_Retro_Bold.ttf);
}

/* line 15, ../../build/sass/menu-style.sass */
.float-overlay {
  z-index: 100;
  position: fixed;
  top: 1em;
  left: 1em;
}
/* line 21, ../../build/sass/menu-style.sass */
.float-overlay p, .float-overlay .menu span, .float-overlay .rw-sentence {
  color: white;
  background: black;
}
/* line 24, ../../build/sass/menu-style.sass */
.float-overlay .menu span {
  padding: 6px 18px;
  font-size: 26px;
  letter-spacing: 2px;
}
/* line 28, ../../build/sass/menu-style.sass */
.float-overlay p {
  padding: 0.5em 1em;
}

/* line 32, ../../build/sass/menu-style.sass */
.big-name {
  padding: 0.5em 0.5em 0 !important;
  margin-bottom: 0;
  font-family: "Alt Retro Bold";
  font-size: 3em;
  -webkit-font-smoothing: antialiased;
}
/* line 38, ../../build/sass/menu-style.sass */
.big-name a {
  text-decoration: none;
}

/* line 41, ../../build/sass/menu-style.sass */
.big-port {
  margin-top: 0;
  font-size: 2em;
  -webkit-margin-after: 0.75em !important;
}

/* line 46, ../../build/sass/menu-style.sass */
.menu {
  position: relative;
}

/* line 49, ../../build/sass/menu-style.sass */
.menu span, .rw-sentence {
  float: left;
  clear: left;
}

/* line 54, ../../build/sass/menu-style.sass */
.big-port, .rw-sentence {
  font-family: "Times New Roman";
}

/* line 60, ../../build/sass/menu-style.sass */
.big-port span {
  padding: 0 5px;
}
/* line 62, ../../build/sass/menu-style.sass */
.big-port a {
  text-decoration: none;
}
/* line 64, ../../build/sass/menu-style.sass */
.big-port p {
  border-bottom: 1px solid white;
}

/* line 67, ../../build/sass/menu-style.sass */
.rw-sentence {
  font-size: 10px;
  padding: 2px 5px;
  margin-top: -0.5em;
  overflow: hidden;
  width: 11em;
}

/* line 74, ../../build/sass/menu-style.sass */
.rw-words {
  display: inline-block;
  width: 9.5em;
  margin-left: 10px;
  border-bottom: 1px solid white;
}
/* line 79, ../../build/sass/menu-style.sass */
.rw-words span {
  position: absolute;
  bottom: 5px;
  opacity: 0;
  overflow: hidden;
  color: white;
}

/* line 4, ../../build/sass/contact.sass */
.contact {
  position: fixed;
  right: 0;
  top: 0;
  width: 18em;
  height: 100%;
  background: black;
  color: white;
  padding: 1em;
  -webkit-transition-property: all;
  -moz-transition-property: all;
  -o-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: 0.5s;
  -moz-transition-duration: 0.5s;
  -o-transition-duration: 0.5s;
  transition-duration: 0.5s;
}

/* line 17, ../../build/sass/contact.sass */
#face {
  position: absolute;
  bottom: 0;
  left: -200px;
  width: 200px;
  height: 200px;
  background: -webkit-canvas(bg);
  -webkit-transition-property: all;
  -moz-transition-property: all;
  -o-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: 2s;
  -moz-transition-duration: 2s;
  -o-transition-duration: 2s;
  transition-duration: 2s;
  opacity: 1;
}

/* line 28, ../../build/sass/contact.sass */
.is-hidden {
  background: lightgrey;
  display: none;
}

/* line 32, ../../build/sass/contact.sass */
.is-closed {
  right: -20em !important;
}

/* line 35, ../../build/sass/contact.sass */
.open-contact {
  position: absolute;
  top: calc(50% - 60px);
  left: -8em;
}

/* line 40, ../../build/sass/contact.sass */
.head {
  font-size: 2.6em;
  font-family: "Times New Roman";
}

/* line 44, ../../build/sass/contact.sass */
input::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
  color: white;
}

/* line 47, ../../build/sass/contact.sass */
input[type="text"] {
  width: 16em;
  padding: 5px;
  margin-bottom: 5px;
  outline: none;
  background: none;
  color: white;
  border: none;
  border-bottom: 1px solid white;
}
/* line 56, ../../build/sass/contact.sass */
input[type="text"]:focus {
  color: white;
}

/* line 59, ../../build/sass/contact.sass */
textarea {
  background: url(../imgs/textareabg.png);
  border: none;
  resize: none;
  color: white;
  width: calc(16em + 5px);
  height: 15em;
  line-height: 31.5px;
  font: 500 16px;
}
/* line 68, ../../build/sass/contact.sass */
textarea:focus {
  outline: 0px none transparent;
  -moz-appearance: none;
}

/* line 72, ../../build/sass/contact.sass */
input[type="submit"] {
  display: block;
  padding: 0.5em;
  background: lightblue;
  border: none;
}

/* line 2, ../../build/sass/masonry.sass */
.masonry-content {
  float: left;
  width: calc(100% - 50em);
  height: 98%;
  padding: 0em 0 0 25em;
  -webkit-transition: all 0.3s;
}
/* line 8, ../../build/sass/masonry.sass */
.masonry-content p {
  color: white;
  font-size: 1em;
  -webkit-margin-before: 0;
  margin: 0.5em;
}

/* line 14, ../../build/sass/masonry.sass */
.item {
  padding: 0.5em 1em;
}

/* line 17, ../../build/sass/masonry.sass */
.date p {
  color: black;
  font-size: 0.75em;
  font-family: "Times New Roman";
  font-style: italic;
  text-align: right;
}

/* line 25, ../../build/sass/masonry.sass */
.article .desc {
  height: 4em;
  width: 250px;
  border-radius: 15px;
  background: black;
  padding: 4px 10px 10px 10px;
}
/* line 31, ../../build/sass/masonry.sass */
.article .desc p {
  padding-top: 10px;
  color: white;
}

/* line 35, ../../build/sass/masonry.sass */
.port-item {
  width: 400px;
}
/* line 37, ../../build/sass/masonry.sass */
.port-item .desc {
  background: #ff6666;
  height: 3em;
  border-radius: 0 0 15px 15px;
  overflow: hidden;
}
/* line 42, ../../build/sass/masonry.sass */
.port-item p {
  padding-left: 10px;
  padding-top: 8px;
}
/* line 45, ../../build/sass/masonry.sass */
.port-item img {
  display: block;
  margin: 0;
  padding: 0;
}

/* line 31, ../../build/sass/custom.sass */
a {
  color: white;
}
/* line 33, ../../build/sass/custom.sass */
a:hover {
  color: #9cffc2;
}

/* line 38, ../../build/sass/custom.sass */
.horiz-wrapper {
  min-height: calc(100% - 5px);
  background: url(../imgs/tiny_grid.png);
  border-top: 5px solid black;
  padding-top: 25px;
}

/* line 44, ../../build/sass/custom.sass */
.directions {
  font-size: 12px;
  font-family: "Times New Roman";
  float: left;
}

/* line 49, ../../build/sass/custom.sass */
.rw-words span {
  opacity: 0;
  -webkit-animation: rotateWord 14s linear infinite 0s;
  -moz-animation: rotateWord 14s linear infinite 0s;
  -ms-animation: rotateWord 14s linear infinite 0s;
  -o-animation: rotateWord 14s linear infinite 0s;
  animation: rotateWord 14s linear infinite 0s;
}

/* line 56, ../../build/sass/custom.sass */
.rw-words span:nth-child(2) {
  -webkit-animation-delay: 2s;
  -moz-animation-delay: 2s;
  -ms-animation-delay: 2s;
  -o-animation-delay: 2s;
  animation-delay: 2s;
}

/* line 61, ../../build/sass/custom.sass */
.rw-words span:nth-child(3) {
  -webkit-animation-delay: 5s;
  -moz-animation-delay: 5s;
  -ms-animation-delay: 5s;
  -o-animation-delay: 5s;
  animation-delay: 5s;
}

/* line 66, ../../build/sass/custom.sass */
.rw-words span:nth-child(4) {
  -webkit-animation-delay: 8s;
  -moz-animation-delay: 8s;
  -ms-animation-delay: 8s;
  -o-animation-delay: 8s;
  animation-delay: 8s;
}

/* line 71, ../../build/sass/custom.sass */
.rw-words span:nth-child(5) {
  -webkit-animation-delay: 11s;
  -moz-animation-delay: 11s;
  -ms-animation-delay: 11s;
  -o-animation-delay: 11s;
  animation-delay: 11s;
}

@-webkit-keyframes rotateWord {
  /* line 77, ../../build/sass/custom.sass */
  0% {
    opacity: 0;
  }

  /* line 79, ../../build/sass/custom.sass */
  2% {
    opacity: 0;
  }

  /* line 81, ../../build/sass/custom.sass */
  5% {
    opacity: 1;
  }

  /* line 83, ../../build/sass/custom.sass */
  17% {
    opacity: 1;
  }

  /* line 85, ../../build/sass/custom.sass */
  20% {
    opacity: 0;
  }

  /* line 87, ../../build/sass/custom.sass */
  80% {
    opacity: 0;
  }

  /* line 89, ../../build/sass/custom.sass */
  100% {
    opacity: 0;
  }
}

@-moz-keyframes rotateWord {
  /* line 93, ../../build/sass/custom.sass */
  0% {
    opacity: 0;
  }

  /* line 95, ../../build/sass/custom.sass */
  2% {
    opacity: 0;
  }

  /* line 97, ../../build/sass/custom.sass */
  5% {
    opacity: 1;
  }

  /* line 99, ../../build/sass/custom.sass */
  17% {
    opacity: 1;
  }

  /* line 101, ../../build/sass/custom.sass */
  20% {
    opacity: 0;
  }

  /* line 103, ../../build/sass/custom.sass */
  80% {
    opacity: 0;
  }

  /* line 105, ../../build/sass/custom.sass */
  100% {
    opacity: 0;
  }
}
