/* line 2, ../../build/sass/masonry.sass */
.masonry-content {
  float: left;
  width: calc(100% - 50em);
  height: 98%;
  padding: 0em 0 0 25em;
  -webkit-transition: all 0.3s;
}
/* line 8, ../../build/sass/masonry.sass */
.masonry-content p {
  color: white;
  font-size: 1em;
  -webkit-margin-before: 0;
  margin: 0.5em;
}

/* line 14, ../../build/sass/masonry.sass */
.item {
  padding: 0.5em 1em;
}

/* line 17, ../../build/sass/masonry.sass */
.date p {
  color: black;
  font-size: 0.75em;
  font-family: "Times New Roman";
  font-style: italic;
  text-align: right;
}

/* line 25, ../../build/sass/masonry.sass */
.article .desc {
  height: 4em;
  width: 250px;
  border-radius: 15px;
  background: black;
  padding: 4px 10px 10px 10px;
}
/* line 31, ../../build/sass/masonry.sass */
.article .desc p {
  padding-top: 10px;
  color: white;
}

/* line 35, ../../build/sass/masonry.sass */
.port-item {
  width: 400px;
}
/* line 37, ../../build/sass/masonry.sass */
.port-item .desc {
  background: #ff6666;
  height: 3em;
  border-radius: 0 0 15px 15px;
  overflow: hidden;
}
/* line 42, ../../build/sass/masonry.sass */
.port-item p {
  padding-left: 10px;
  padding-top: 8px;
}
/* line 45, ../../build/sass/masonry.sass */
.port-item img {
  display: block;
  margin: 0;
  padding: 0;
}
