@font-face {
  font-family: "Alt Retro Bold";
  src: url(loose_fonts/Alt_Retro_Bold.ttf);
}

/* line 15, ../../build/sass/menu-style.sass */
.float-overlay {
  z-index: 100;
  position: fixed;
  top: 1em;
  left: 1em;
}
/* line 21, ../../build/sass/menu-style.sass */
.float-overlay p, .float-overlay .menu span, .float-overlay .rw-sentence {
  color: white;
  background: black;
}
/* line 24, ../../build/sass/menu-style.sass */
.float-overlay .menu span {
  padding: 6px 18px;
  font-size: 26px;
  letter-spacing: 2px;
}
/* line 28, ../../build/sass/menu-style.sass */
.float-overlay p {
  padding: 0.5em 1em;
}

/* line 32, ../../build/sass/menu-style.sass */
.big-name {
  padding: 0.5em 0.5em 0 !important;
  margin-bottom: 0;
  font-family: "Alt Retro Bold";
  font-size: 3em;
  -webkit-font-smoothing: antialiased;
}
/* line 38, ../../build/sass/menu-style.sass */
.big-name a {
  text-decoration: none;
}

/* line 41, ../../build/sass/menu-style.sass */
.big-port {
  margin-top: 0;
  font-size: 2em;
  -webkit-margin-after: 0.75em !important;
}

/* line 46, ../../build/sass/menu-style.sass */
.menu {
  position: relative;
}

/* line 49, ../../build/sass/menu-style.sass */
.menu span, .rw-sentence {
  float: left;
  clear: left;
}

/* line 54, ../../build/sass/menu-style.sass */
.big-port, .rw-sentence {
  font-family: "Times New Roman";
}

/* line 60, ../../build/sass/menu-style.sass */
.big-port span {
  padding: 0 5px;
}
/* line 62, ../../build/sass/menu-style.sass */
.big-port a {
  text-decoration: none;
}
/* line 64, ../../build/sass/menu-style.sass */
.big-port p {
  border-bottom: 1px solid white;
}

/* line 67, ../../build/sass/menu-style.sass */
.rw-sentence {
  font-size: 10px;
  padding: 2px 5px;
  margin-top: -0.5em;
  overflow: hidden;
  width: 11em;
}

/* line 74, ../../build/sass/menu-style.sass */
.rw-words {
  display: inline-block;
  width: 9.5em;
  margin-left: 10px;
  border-bottom: 1px solid white;
}
/* line 79, ../../build/sass/menu-style.sass */
.rw-words span {
  position: absolute;
  bottom: 5px;
  opacity: 0;
  overflow: hidden;
  color: white;
}
