
.rw-words span{
	opacity: 0;
	-webkit-animation: rotateWord 14s linear infinite 0s;

}
.rw-words span:nth-child(2) { 
    -webkit-animation-delay: 2s; 

}
.rw-words span:nth-child(3) { 
    -webkit-animation-delay: 5s; 

}
.rw-words span:nth-child(4) { 
    -webkit-animation-delay: 8s;

}
.rw-words span:nth-child(5) { 
    -webkit-animation-delay: 11s; 
}

@-webkit-keyframes rotateWord {
	0% { opacity: 0; }
	2% { opacity: 0; }
	5% { opacity: 1; }
	17% { opacity: 1;}
	20% { opacity: 0; }
	80% { opacity: 0; }
	100% { opacity: 0; }
}



