p.head Touch base

form.contact-form(action="send.php", method="POST")
  input(type="text" name="email" placeholder="Email")
  input(type="text" name="subject" placeholder="Subject")
  textarea(name="msg-txt" placeholder="What's the big idea?")
  input(type="submit")
  span.response

